
.input {
    width: 80%;
    length: 20%;
    border-color: aliceblue;
    padding-left: 25px;
    margin-top: 20px;

}

label {
    text-align: left;
    font-size: medium;

}


.i {
    width: 100%;
    height: 30px;
    margin-left: 45px;

}

#sbtn {

    align-content: center;
}

.center {

    text-align: center;
    width: 33%;
    margin: auto;
    padding-left: 15px;
    padding-top: 15px;

}

.textarea {
    margin-top: 25px;


}
#1.table{

    border-color: black;
    border-left: yellow;

}
#2.table{
    margin-left: 15px;
}
#3.table{


    margin-left: 25px;
}
#4.table{

    margin-left :35px;

}
.Search_Bar{
    width: 40%;
    length: 20px;
    font-size: larger;
    background-color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;

}
.Div_SearchBar{
    padding-left: 30%;

}